*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}

.container{
    width: 100vw;
    min-height: 100vh;
    /* height: 100vh; */
    background-color: black;
    position: relative;
}



/* -------- inizio header ------- */

header{
    height: 80px;
    justify-content: flex-end;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0; 
}

.header-btn{
    width: 15%;
    height: 100%;
    text-align: right;
    padding: 15px 10px 0 0;
    background-color: black;
}

.header-btn a{
    color: white;
    text-decoration: none;
    background-color: #4c4c4c;
    border-radius: 7px;
    padding: 7px;
    margin-left: 5px;
    font-size: 15px;
}

/* ---------- fine header ---------- */



/* ---------- inizio main ---------- */

main{
    padding: 85px 0;
}

main .users{
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;  
}

main .users .user-cam{
    width: 242px;
    height: 142px;
    margin-top: 5px;
    background-image: url("../img/cat-zoom.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

main .user-cam .user-name{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ---------- fine main -------- */




/* --------- inizio footer -------- */

footer{
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    background-color: #222222;
    color: white;
    font-size: 0.9em;
}

footer a{
    color: white;
    text-decoration: none;
}

footer .audio-video{
    width: 10%;
    height: 100%;
    justify-content: space-between;
    background-color: #222222;
}

footer .various.actions{
    width: 35%;
    height: 100%;
    background-color: #222222;
}

footer .end-action{
    width: 9%;
    height: 100%;
    background-color: #282727;
    position: relative;
}

footer .icon-text, footer .stop-video{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .audio{
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    position: relative;
}

footer .video{
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    position: relative;
}

footer i{
    font-size: 25px;
    padding-bottom: 5px;
}

footer .audio .angle i, footer .video .angle i{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 15px;
}

footer .icons{
    flex-direction: column;
    align-items: center;
}

footer .various.actions{
    justify-content: space-between;
    align-items: center;
}


footer .various.actions .angle i{
    font-size: 15px;
}

footer .end-action > span{
    font-weight: 600;
    display: inline-block;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .end-action .layover{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}